:root {
    --header-color: rgb(49, 52, 61);
    --bg-color: rgb(237,237,246);
    --highlight-color: rgb(146, 204, 205);
    --text-color: rgb(68, 88, 118);
}




body {
    background-color: var(--bg-color);
    font-family: helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    font-size: 16px;
    font-weight: 600;
}

.container { /* 12 column layout, each column nickname */
    display: grid;
    gap: 20px;
    grid-template-areas: /* mobile first */
    "header"
    "nav"
    "aside"
    "content"
    "aside"
    "content"
    "footer"
}



header {
    display: flex;
}
main {
    display: flex;
}
footer {
    display: flex;
}
